:root {
    --color-primary: #17b9de;
    --text-color: #fff;
    --body-bg: #2c261f;
    --page-text-color: #fff;
}


:root {
    --quiz-buttton-bg: #17b9de;
    --quiz-button-text-color: #fff;
    --quiz-text-color: #fff;
}